<%- include("partials/header") -%>

<div class="jumbotron jumbotron-fluid data">
    <div class="container">
      <h1 class="display-4">Weather in <%= queryCity %></h1>
      <p class="lead">Currently  <%= weatherDesc %></p>
      <p class="lead">Temperature in  <%= queryCity %>  is  <%= cityTemp %> Degrees Celcius</p>
      <img class="icon" src="<%= imgSRC %>" />
    </div>
  </div>

<%- include("partials/footer") -%>